body::before {
  content: "";
  display: block;
  height: 70px;
}

footer::before {
  content: "";
  display: block;
  height: 150px;
}

img {
  width: 100%;
  height: 500px;
}

/* 
nav {
  display: none;
} */

.container {
  background-image: var(--bs-gradient);
}
